div.div-table {
  display: table;
}
div.div-table .tr {
  display: table-row;
}
div.div-table .thead {
  display: table-header-group;
}
div.div-table .td,
.th {
  display: table-cell;
}
div.div-table .tbody {
  display: table-row-group;
}

div.div-table {
  margin: 10px 0;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-radius: 5px;
}
div.div-table .td,
div.div-table .th {
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #dee2e6;
  padding: 12px;
}

.table .tbody .tr:last-of-type .td {
  border-bottom: 1px solid #dee2e6;
}

.table .tbody .tr .td:last-of-type,
.table .thead .tr .th:last-of-type {
  border-right: 1px solid #dee2e6;
}

.table .thead {
  border-bottom: 1px solid #dee2e6;
}

div.div-table .tbody .tr:nth-child(odd) {
  background-color: #f2f2f2;
}
div.div-table .thead .th {
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  word-wrap: ellipsis;
}
div.div-table .thead .th {
  font-weight: bold;
}

div.div-table .tbody .tr:hover {
  background-color: #e0e0e0;
}

div.div-table .resizer {
  display: inline-block;
  background: #ffffff;
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  /* prevents from scrolling while dragging on touch devices */
  touch-action: none;
}
div.div-table .resizer.isResizing {
  background: #ccc;
}

/** Pagination css */
.pagination {
  float: right;
}

.pagination span {
  line-height: 2em;
}

.pagination button {
  border: 1px solid #ccc;
  border-radius: 7px;
}

/*  */
.page-sizes-select {
  width: 80px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  padding: 4px;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%235E5E5E%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  margin-right: 10px;
}
.page-sizes-select::-ms-expand {
  display: none;
}
.page-sizes-select:hover {
  border-color: #888;
}
.page-sizes-select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.page-sizes-select option {
  font-weight: normal;
}
