div.div-table {
  display: table;
}
div.div-table .tr {
  display: table-row;
}
div.div-table .thead {
  display: table-header-group;
}
div.div-table .td,
.th {
  display: table-cell;
}
div.div-table .tbody {
  display: table-row-group;
}

div.div-table {
  margin: 10px 0;
  border: 1px solid #efefef;
  background-color: #ffffff;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 #d7d7e0;
}
div.div-table .td,
div.div-table .th {
  border: 1px solid #efefef;
  padding: 8px 10px;
  /* height: 4em;
    line-height: 4em; */
}
div.div-table .tbody .td {
  font-size: 15px;
}
div.div-table .tbody .tr:nth-child(odd) {
  background-color: #fafafa;
}
div.div-table .thead .th {
  background: #fff;
}
div.div-table .thead .th {
  font-size: 16px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
}

div.div-table .tbody .tr:hover {
  background-color: #efefef;
}
